/* --- Contact Page --- */
#contact-page {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #0E1116;
  padding: 10em 25% 4em;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 48em) {
  #contact-page {
    padding: 10em 5% 4em !important;
  }
}

@media (max-width: 85.375em) {
  #contact-page {
    padding: 10em 20% 4em;
  }
}

@media (min-width: 120em) {
  #contact-page {
    padding: 10em 30% 4em;
  }
}

.contact-wrapper {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 2.25em;
}

.form {
  width: 100%;
  margin: 25px 0;
}

.form input[type="text"],
.form textarea {
  background-color: #171b21;
  color: #f5f5f5;
  padding: 16px;
  border: none;
  border-radius: 5px;
  margin: 0 0 4px;
  outline: none;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #31363c;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 25em) {
  .form input[type="text"],
  .form textarea {
    margin: 0 0 8px;
  }
}

textarea, input {
  font-family: 'Lato', sans-serif;
  color: #0E1011;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  height: 13em;
  resize: vertical;
  display: block;
  min-height: 9.375em;
  max-height: 31.25em;
}

::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: #161a1d;
}

.submit-form-button {
  text-decoration: none;
  font-size: 1em;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  float: left;
  width: auto;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #FF4747;
  padding: 16px 32px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  margin: 0;
  cursor: pointer;
}

@media (max-width: 25em) {
  .submit-form-button {
    width: 100%;
  }
}

.showcase {
  height: 100vh;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161A1D;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 425px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.4);
}

.thanks-text {
  color: #ccc;
  font-size: 30px;
  margin: 0;
}

.submission-text {
  text-align: left;
  color: #ccc;
  margin: 1em 0;
}

.fa-arrow-left {
  font-size: 15px;
  padding: 0 5px 2.5px 0;
}

.submission-link {
  text-decoration: none;
  color: #FF4747;
  border-bottom: 1px solid transparent;
  transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
}

.submission-link:hover {
  border-bottom: 1px solid #FF4747;
}

.error {
  z-index: 1;
  border-top: 2px solid #FF4747;
  color: #FF4747;
  padding: 10px 0;
  width: 100%;
  max-width: 100%;
}

.fa-exclamation-circle {
  margin: 0 2px;
}

.inputAlert {
  padding: 10px 15px;
  width: 100%;
  border-top: 2px solid #FF4747;
  color: #FF4747;
  text-align: center;
}